<nav class="navbar navbar-light bg-light show-nav">
  <%= link_to 'Mr Cocktail', root_path, class: "navbar-brand" %>
</nav>

<h1><%= @cocktail.name %></h1>

<h2>Ingredients</h2>

<% @cocktail.doses.each do |dose| %>
  <h3><%= dose.ingredient.name %><span> - <%= dose.description %></span></h3>

  <%= link_to '', cocktail_dose_path(dose.cocktail, dose), class: "fas fa-trash", method: :delete %>
  <%= link_to '', edit_cocktail_dose_path(dose.cocktail, dose), class: "far fa-edit" %>
<% end %>

<br><br>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :ingredient %>
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>





<%= link_to 'Back', root_path %>
